<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313151275022-6dfsu9qvkvkt3sbu5sdbpt35ktdh4iku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313151275022-6dfsu9qvkvkt3sbu5sdbpt35ktdh4iku</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCJS3VWzh_aok6yr_rTZQcpR5EVIgkTM</string>
	<key>GCM_SENDER_ID</key>
	<string>313151275022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reimburseMobile</string>
	<key>PROJECT_ID</key>
	<string>reimburse-surfboard</string>
	<key>STORAGE_BUCKET</key>
	<string>reimburse-surfboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313151275022:ios:9c4d967108d24bf3c23c5f</string>
</dict>
</plist>